# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

!.gitkepp
u*/default.etcd/member/snap/db
*/default.etcd/member/wal/0000000000000000-0000000000000000.wal
default.etcd/member/snap/db
default.etcd/member/wal/0000000000000000-0000000000000000.wal
default.etcd/member/wal/0.tmp
